<button routerLink="/courseoverview/{{courseId}}">
  BACK
</button>

<br><br><br>

<form [formGroup]="form">
  <div class="form-input-div">
    <label>Name: </label>
    <input formControlName="name"/>
  </div>
  <div class="form-input-div">
    <label>Handicap: </label>
    <input formControlName="handicap"/>
  </div>
  <div formGroupName="holes">
    <div *ngFor="let holeControlName of holesFormControlNames" class="form-input-div">
      <label>{{holeControlName}}: </label>
      <input formControlName="{{holeControlName}}"/>
    </div>
  </div>
</form>
<br>
<button (click)="addPlayer()" [disabled]="!form.valid">Add Player</button>