<button routerLink="/courseoverview/{{courseId}}">
  BACK
</button>

<br><br><br>

<form [formGroup]="form">
  <div class="form-input-div">
    <label>Name: </label>
    <input [formControlName]="nameFormControlName"/>
  </div>
  <div class="form-input-div">
    <label>Handicap: </label>
    <input [formControlName]="handicapFormControlName"/>
  </div>
  <div [formGroupName]="holesFormGroupName">
    <div *ngFor="let holeControlName of holesFormControlNames; let i = index" class="form-input-div">
      <label>Hole {{i+1}}: </label>
      <input formControlName="{{holeControlName}}"/>
    </div>
  </div>
</form>
<br>
<button (click)="addPlayer()" [disabled]="!form.valid">Add Player</button>