<button mat-fab routerLink="/courseoverview/{{course.id}}">
  <mat-icon>arrow_back</mat-icon>
</button>

<form [formGroup]="form">
  <mat-form-field appearance="standard">
    <mat-label>Name</mat-label>
    <input [formControlName]="nameFormControlName" 
           matInput
           placeholder="A name or nickname for the player"/>
    <mat-error>
      Please provide a name for the player
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Handicap</mat-label>
    <input [formControlName]="handicapFormControlName"
           matInput
           placeholder="The handicap for the player"/>
    <mat-error>
      Please provide an usigned number greater than or equal zero
    </mat-error>
  </mat-form-field>
  <div [formGroupName]="holesFormGroupName">
    <mat-form-field *ngFor="let holeControlName of holesFormControlNames; let i = index">
      <mat-label>
        Hole {{i+1}}
      </mat-label>
      <input [formControlName]="holeControlName"
             matInput
             placeholder="How many strokes did the player took for hole number {{i+1}}"/>
      <mat-error>
        Please provide an unsigned number greater than or equal to one
      </mat-error>
    </mat-form-field>
  </div>
</form>

<button *ngIf="!existingPlayerId"
        class="bottom"
        mat-raised-button
        color="primary"
        (click)="addPlayer()"
        [disabled]="!form.valid">
        Add Player
</button>

<button *ngIf="existingPlayerId"
        class="bottom"
        mat-raised-button
        color="primary"
        (click)="editPlayer()"
        [disabled]="!form.valid">
        Edit Player
</button>