div {
    display: grid;
    height: 70vh;
    justify-items: center;
    align-items: center;
}

img {
    text-align: center;
    max-height: 30vh;
    max-width: 70vh;
}

@media(min-width: 700px){
    img {
        max-height: 70vh;
    }
}
