#main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#logo {
    text-align: center;
    width: 100%;
}

#content {
    flex: 1;
}

#footer {
    width: 100%;
    text-align: center;
}